#paper {
  border-radius: var(--36px, 36px);
  overflow: hidden;
  display: inline-flex;
  box-shadow: none;
  border: 1px solid var(--Borders-Light-Grey, #d4dbe5);
}
#avatar {
  margin: 0px -7px;
}
#avatar1 {
  margin: 0px -7px;
}
#assignedDropdown {
  border-radius: 50%;
  min-width: 4;
  padding: 0rem 1rem 0rem 0.5rem;
  cursor: pointer;
}
.dropdown {
  position: absolute;
  background-color: white;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 18.75rem; /* Adjust width as necessary */
  border-radius: 0.4rem;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  max-height: 15rem;
}

.dropdown li {
  padding: 0.625rem;
  cursor: pointer;
}

.dropdown input {
  display: flex;
  height: 2.4rem;
  padding: var(--1rem, 1rem);
  align-items: center;
  gap: var(--0.5rem, 0.5rem);
  align-self: stretch;
  border-radius: var(--1.5rem, 1.5rem);
  background: var(--Background-Med-Grey, #ebedf0);
}

.dropdown button {
  margin: 5px;
}
.dropdownHeader {
  color: #000;

  /* Headings/H3 */
  font-family: Outfit, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.leadAge {
  white-space: nowrap;
  padding-left: 0.5rem;
  color: var(--Text-Light-Grey, #647491);
  text-align: center;
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.gender {
  color: var(--Text-Grey, #354869);
  text-align: center;
  /* Body/Medium */
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  padding: 0px var(--4px, 4px);
  align-items: center;
  gap: var(--4px, 4px);
  border-radius: var(--8px, 8px);
  background: var(--Background-Greyish, #f6f7f9);
}
.estimationHeader {
  color: var(--Text-Light-Grey, #647491);
  /* Body/Small */
  font-family: Outfit, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.estimationHeaderMenu {
  color: var(--Text-Black, #080f1a);
  /* Body/Medium */
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.estimationHeaderMenuClose {
  color: var(--Alerts-Red, #f94839);
  /* Body/Medium */
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tabsLabel {
  color: var(--Text-Light-Grey, #647491) !important;
  text-align: center !important;
  font-family: Outfit, sans-serif !important;
  font-size: 0.875rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 150% !important; /* 1.3125rem */
  text-transform: none !important;
}
.selectedTab {
  color: var(--Text-Black, #080f1a) !important;
  text-align: center !important;
  font-family: Outfit, sans-serif !important;
  font-size: 0.875rem !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 150% !important;
  text-transform: none !important;
}
